*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(180deg,#061d40,#0b2e63,#051223);

color:white;

min-height:100vh;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 70px;

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:22px;

font-weight:700;

color:#fff;

}

.logo i{

color:#4ea3ff;

font-size:28px;

}

.social a{

color:white;

font-size:24px;

margin-left:25px;

transition:.3s;

}

.social a:hover{

color:#4ea3ff;

}

.hero{

text-align:center;

padding:90px 20px;

}

.badge{

display:inline-block;

padding:12px 24px;

border-radius:40px;

background:#102f61;

border:1px solid #4ea3ff;

margin-bottom:30px;

}

.hero h1{

font-size:70px;

font-weight:800;

}

.hero p{

font-size:22px;

color:#d8e8ff;

margin:25px 0 45px;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.btn{

padding:18px 38px;

background:#173b73;

border:2px solid #4ea3ff;

border-radius:18px;

text-decoration:none;

color:white;

font-size:20px;

transition:.3s;

}

.primary{

background:white;

color:#0d47a1;

font-weight:600;

}

.btn:hover{

transform:translateY(-5px);

box-shadow:0 0 25px #4ea3ff;

}

.download{

padding:80px 20px;

text-align:center;

}

.download h2{

font-size:50px;

margin-bottom:40px;

}

.card{

max-width:700px;

margin:auto;

background:#0f2447;

padding:40px;

border-radius:30px;

border:1px solid #4ea3ff;

}

.card p{

font-size:22px;

margin-bottom:30px;

color:#d7e8ff;

}

.big-btn{

display:block;

padding:18px;

background:white;

color:#0d47a1;

font-size:24px;

text-decoration:none;

border-radius:18px;

font-weight:600;

margin-bottom:25px;

}

.bottom{

display:flex;

gap:20px;

}

.small-btn{

flex:1;

padding:18px;

text-decoration:none;

background:#173b73;

border:2px solid #4ea3ff;

border-radius:18px;

color:white;

font-size:20px;

transition:.3s;

}

.small-btn:hover{

background:#2563eb;

}

footer{

padding:40px;

text-align:center;

color:#b7d5ff;

  }
